main {
  height: 100vh;
  overflow: scroll;
}

.card-are {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #0d1117;
    display: flex;
    overflow: hidden;
    /* margin: 50px auto; */
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    border-radius: 15px;
}

.logo-box {
    position: absolute;
    top: 25px;
    right: 370px;
    padding: 8px 20px;
    z-index: 2;
    font-weight: bold;
    color: #000;
    font-size: 0.85rem;
}

.line {
    border: 1px solid #1d9bf0;
    width: 250px;
    position: relative;
    top: 20px;
    left: 85px;
}

.logo-box img {
    left: 370px;
}

.left {
    width: 50%;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.left h1 {
    font-size: 2.5rem;
    font-weight: 900;
    color: #fff;
}

.left h2 {
    font-size: 1rem;
    color: #1d9bf0;
    margin-top: 12px;
    font-weight: normal;
}

.left p {
    font-size: 1rem;
    margin: 25px 0;
    line-height: 1.6;
    color: #fff;
}

.btn-learn {
    background-color: #000;
    color: #fff;
    padding: 10px 22px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    width: fit-content;
    font-size: 0.9rem;
}

.right {
    width: 50%;
    background: url('https://d2yoo3qu6vrk5d.cloudfront.net/pulzo-lite/images-resized/PP4554436A-s-o.webp') no-repeat center center/cover;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
    position: relative;
    z-index: 0;
}

.footer-info {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    background-color: #1d9bf0;
    color: #fff;
    padding: 6px 14px;
    font-size: 0.9rem;
    z-index: 3;
    border-radius: 3px;
}

.footer-info img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

@media (max-width: 768px) {
    .card-are {
        flex-direction: column;
        width: 95%;
        height: auto;
        padding-bottom: 20px;
    }

    .left,
    .right {
        width: 100%;
        clip-path: none;
        padding: 20px;
    }

    .right {
        height: 250px;
        background-position: center;
        background-size: cover;
    }

    .logo-box {
        position: relative;
        top: 0;
        right: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    .logo-box .line {
        width: 75%;
        border: 1px solid #1d9bf0;
        margin-bottom: 10px;
        right: 45px;
    }

    .logo-box img {
        left: 125px;
        position: relative;
    }

    .icon.default-icon {
        width: 60px;
        height: auto;
    }

    .text-are {
        position: relative;
        right: 15px;
        text-align: center;
    }

    .footer-info {
        position: relative;
        top: 210px;
        left: 180px;
        margin-top: 15px;
        align-self: flex-end;
        width: fit-content;
    }

    .left h1 {
        font-size: 1.8rem;
        text-align: center;
    }

    .left h2 {
        font-size: 1rem;
        text-align: center;
    }

    .left p,
    .btn-learn {
        text-align: center;
    }

    .btn-learn {
        margin: 0 auto;
        font-size: 0.9rem;
    }
}
