.carousel-root {
    width: 80%;
    position: relative;
    top: 30px;
    margin: auto;
}

.carousel .slide img {
    border-radius: 15px;
}

@media (max-width: 768px) {
    .carousel-root {
        width: 100%;
        position: relative;
        top: 40px;
        margin: auto;
    }

}